# Настройки приложения
APP_NAME=Scientific API
DEBUG=False

# База данных очередей (Оставь пустым для in-memory режима при локальной разработке)
REDIS_URI=

# Настройки MLflow (Оставь пустым, чтобы отключить логирование)
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=dev_experiments